{% load static %}
<script src="{% static 'frontend/vendors/@popperjs/popper.min.js' %}"></script>
<script src="{% static 'frontend/vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'frontend/vendors/is/is.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'frontend/vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'frontend/assets/js/theme.js' %}"></script>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" rel="stylesheet">

<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(300, 0).slideUp(300, function(){
            $(this).remove();
        });

        $("#remove").fadeTo(300, 0).slideUp(300, function(){
            $(this).remove();
        });

    }, 10000);
</script>