{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %}All Payment{% endblock title %}

  {% block head %}{% include 'partials/auth_head.html' %}{% endblock head %}

  {% block body %}
  <body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">

  {% block nav %} {% include 'partials/auth_nav.html' %} {% endblock %}

  {% include 'partials/auth_sidebar.html' %}

    <div class="app-content content container-fluid">
      <div class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-left col-md-6 col-xs-12 mb-1">
            <h2 class="content-header-title">All Purchase History</h2>
          </div>

            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-xs-12">
                <div class="breadcrumb-wrapper col-xs-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'auth:dashboard' %}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">All Purchase
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="content-body">
            {% include 'partials/messages.html' %}

        <!-- Hoverable rows start -->
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">All Purchase</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block card-dashboard">
                            <p>The table below contains all SWAG Box purchase information.</p>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover mb-0" id="table_id">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Description</th>
                                        <th>Quantity</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>Date Paid</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                {% if object_list %}
                                    {% for object in object_list %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter}}</th>
                                        <td>{{ object.description }}</td>
                                        <td>{{ object.quantity }}</td>
                                        <td>{{ object.amount }}</td>
                                        <td>
                                            <div class="tag tag-pill tag-{% if object.status == 'success' %}success{% elif object.status == 'pending' %}warning{% else %}danger{% endif %}">
                                                {{object.status}}
                                              </div>
                                        </td>
                                        <td>{{ object.date_created }}</td>
                                        <td>

                                          {% if object.status == "pending" %}
                                          <a href="{% url 'payment:re_verify_payment' object.pk %}" class="btn btn-warning" style="cursor: pointer;"> <i class="icon-check-circle"></i> re-query</a>
                                          {% endif %}

                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hoverable rows end -->
        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->


    {% block script %}{% include 'partials/auth_script.html' %}{% endblock script %}

</body>
{% endblock body %}

